     /* styles.css */
     .slide-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70vh;
    }
    
    .grid-row {
        display: flex;
    }
    
    .grid-cell {
        background-color: rgb(220, 235, 249);
        margin: 2px;
        transition: transform 0.3s, width 0.3s, height 0.3s; /* Removed background-color transition */
    }
    
    .grid-cell:hover {
        transform: scale(1.3);
        background-color: rgb(255, 255, 255); /* Change background color on hover */
        border: 3px solid rgb(155, 155, 204); 
        border-radius: 10px;
        z-index: 1;
    }
    .nav-button {
        border: none;
        background-color: transparent;
        font-size: 40px;
        cursor: pointer;
        transition: color 0.3s; /* Added color transition */
    }
    
    .nav-button:hover {
        color: rgb(180, 180, 224); /* Change color on hover */
    }
    
    .hover-content {
        text-align: center;
        padding: 10px;
        margin-bottom: 10px;
    }


    .content-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* Add other styling for .content-form here */
    }
    
    .form-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px; /* Adjust the value as needed */
        /* Add other styling for .form-details here */
    }
    