{% extends 'base.html' %}
{% block main_content %}


<link rel="stylesheet" type="text/css" href="static/styles.css">

<div class="container py-3">
    <div class="row">
        <h2>PPT Config Generator</h2>
    </div>
    <div class="button-container d-flex justify-content-center">
        <button class="remove-slide-button btn-sm btn-danger"> - </button>
        <span class="slide-indicator" style="font-weight: 800; font-size: x-large; margin-inline: 10px;"> 4 </span>
        <button class="add-slide-button btn-sm btn-primary"> + </button>
    </div>
        <div class="row">
            <div class="col-1 d-flex justify-content-center"><button class="nav-button prev-button">&larr;</button></div>
            <div class="col-10">
                <div class="slide-container">
                    <div class="slide-view" id="slide1">
                        <div class="grid-selection py-2">
                            <!-- Grid system selection dropdown will be dynamically created here -->
                        </div>
                        <h3 class="text-center">Slide 1</h3>
                        <div class="grid-container">
                            <!-- Grid cells will be dynamically created here -->
                        </div>
                    </div>
                    <div class="slide-view" id="slide2">
                        <div class="grid-selection py-2">
                            <!-- Grid system selection dropdown will be dynamically created here -->
                        </div>
                        <h3 class="text-center">Slide 2</h3>
                        <div class="grid-container">
                            <!-- Grid cells will be dynamically created here -->
                        </div>
                    </div>
                    <div class="slide-view" id="slide3">
                        <div class="grid-selection py-2">
                            <!-- Grid system selection dropdown will be dynamically created here -->
                        </div>
                        <h3 class="text-center">Slide 3</h3>
                        <div class="grid-container">
                            <!-- Grid cells will be dynamically created here -->
                        </div>
                    </div>
                    <div class="slide-view" id="slide4">
                        <div class="grid-selection py-2">
                            <!-- Grid system selection dropdown will be dynamically created here -->
                        </div>
                        <h3 class="text-center">Slide 4</h3>
                        <div class="grid-container">
                            <!-- Grid cells will be dynamically created here -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1 d-flex justify-content-center""><button class="nav-button next-button">&rarr;</button></div>
        </div>

<!-- Add this button below your slide views -->
<div class="d-flex justify-content-center">
    <button class="create-config-button btn btn-primary mt-3">Create Config</button>
</div>

    
</div>


<script src="/static/ppt_config_generator.js"></script>
{% endblock %}

