{% extends 'base.html' %}
{% block main_content %}

<title>Simple Slot Machine</title>

<link rel="stylesheet" type="text/css" href="/static/raffle_style.css">

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="slot-machine">
                <!-- Use question marks as placeholders -->
                {% for _ in selected_string %}
                <div class="reel">
                    <div class="symbol">?</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <button id="spin-button" class="btn btn-primary">Spin</button>
    </div>

    <div id="slot-machine" data-selected-string="{{ selected_string }}"></div>
</div>

<script src="/static/raffle.js"></script>

{% endblock %}